.mobile-menu{display: none;}
@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
  .container{
    width: 100%;
    margin: 0 auto;
  }
  #header{
    .caption{
      width: 80%;
      .title{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
      }
    }
  }

  #chapter1 {
    .flex-content{
      display: flex;
      flex-direction: column;
      .title{
        font-size: 2rem;
      }
      p{
        font-size: 1rem;
      }
      .left{
        width: 100%;
      }
      .right{
        width: 100%;
      }
      .posY {
        top: 0;
      }
    }
    .marginTop50{
      margin-top: 20px;
    }
    .marginTop100{
      margin-top: 30px;
    }
    
  }
  #chapter2{
    .lists{
      flex-direction: column;
      .listItem{
        width: 100%;
        &:nth-child(even){
          color:#ddd;
        }
      }
    }
  }
  #chapter3{
    .works{
      flex-direction: column;
      .listItem{
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 420px){
  #navbar{
    .navlist{
      display: none;
    }
    .mobileNavBtn{
      display: block;
    }

  }
  .mobile_navlist{
    display: block;
    position: fixed;
    top: -1000px;
    left: 0;
    padding: 50px 0 20px 0;
    width: 100%;
    list-style: none;
    z-index: 20;
    transition: 0.5s;
    overflow: hidden;
    color: #fff;
    background-image: radial-gradient(ellipse at top left, rgba(66, 69, 76, 0.3803921569), rgba(37, 40, 46, 0.4705882353));
    box-shadow: 0 0 32px #000;
    backdrop-filter: blur(5px);
    &.active{
      top:0;
    }
    ul{
      li{
        a{
          display: block;
          padding: 15px 35px;
          display: block;
          color:#acacac;
          transition: 0.3s;
          text-decoration: none;
          &.active{
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
  section{
    margin: 0 0%;
    padding: 6px 8px;
  }
  #works {
    .works_categories_list{
      ul{
        flex-wrap: wrap;
        li{
          font-size: 11pt;
        }
      }
    }
    .works_list{
      .item{
        flex: 1 0 45%;
        .item_bg{
          height: 190px;
        }
      }
    } 
  }
  .workitem{
    .itemContent{
      width: 100%;
    }
  }
  #intro{
    .about_intro{
      .content{
        flex-direction: column;
        .left_word{
          width: 100%;
        }
        .right_img{
          width: 100%;
          position: relative;
          top: 0px;
          right: 0px;
        }
      }
    }
  }
  #about{
    .about_detail{
      flex-direction: column;
      .about_detail_textcontent{
        width: 100%;
        padding: 1rem 1rem;
        box-sizing: border-box;
      }
      .about_detail_list{
        width: 100%;
      }
    }
  }  
  #space{
    .space_list{
      flex-direction: column;
      .space_item{
        width: 100%;
      }
    }
  }
  #technology{
    h1{ text-align: center;}
    .technology_content{
      flex-direction: column;
      .technology_list{
        width: 100%;
        margin-right: 0px;
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
  #partner{
    .partner_list{
      ul{
        li{
          flex: 1 0 45%;

        }
      }
    }
  }

}
